# config opt-out

# NO
.ssh
.gnupg
.pki
.serverlessrc
.rainbow_oauth
.aws
.weechat
.emulator_console_auth_token
.config/Bitwarden
.config/freerdp

# temp file and local data
.local
.cache
.wget-hsts
.sudo_as_admin_successful
.gitconfig
.config/configstore
.logs
.config/ibus

# sh
.bash_history
.bash_logout
.zsh_history
.zcompdump
.Xauthority

# vim
.viminfo
.vim
*.swp
*.tmp

# android
.android
.gradle
.java
Android
.m2

# js
.npm
.yarnrc
.serverless
.standard-cache
.v8flags*
.node-gyp
.babel.json
.electron

# php
composer.json
composer.lock
vendor

# ruby
.gem
.rvm

# lua
.luarocks

# go
go

# qt
.config/QtProject.conf

# my personal directories
code
papes
txt
Downloads
Documents
Pictures
dotfiles
tunes
lib
Desktop
.obsidian
.config/obsidian

# ui
.hyprland
.config/kdeglobals
.config/xdg-desktop-portal-kderc
.config/user-dirs.dirs
.config/user-dirs.locale
.config/mimeapps.list
.config/dconf

# audio
.config/ncmpcpp/error.log
.config/pulse

# gaming
.steam
.steampath
.steampid
.eve
.wine 
.nvidia-settings-rc
.var
.config/CCP
.config/openrazer
.config/polychromatic
.config/discord
.config/lutris

# work
.zoom
.vscode-oss
.config/chromium
.config/opera
.config/Google
.mozilla
.config/zoom.conf
.config/zoomus.conf
opera_autoupdate.log
.config/Slack
.config/github-copilot
.vscode
.config/Code
.config/Code - OSS
# zoom conf
.config/Unknown Organization 

# music
.config/Renoise
