# NO
.ssh
.gnupg
.serverlessrc

# temp file and local data
.local
.cache
.wget-hsts
.sudo_as_admin_successful

# sh
.bash_history
.zsh_history
.zcompdump
*fishd*

# vim
.viminfo
.vim
*.swp

# js
.npm
.yarnrc
.luarocks
.serverless

# php
composer.json
composer.lock
vendor

# my personal directories
code
txt
fonts
