# make config opt-out by default
.config

# NO
.ssh
.gnupg
.pki
.serverlessrc
.rainbow_oauth
.aws
.weechat

# temp file and local data
.local
.cache
.wget-hsts
.sudo_as_admin_successful
.gitconfig
.config/configstore
.logs

# sh
.bash_history
.zsh_history
.zcompdump
*fishd*
.config/fish/functions
!.config/fish/functions/fisher.fish
.config/fish/conf.d
.config/fish/completions
.config/fisherman
.Xauthority

# vim
.viminfo
.vim
*.swp
*.tmp

# android
.android
.gradle
.java
Android
.m2

# js
.npm
.yarnrc
.serverless
.standard-cache
.v8flags*
.node-gyp
.babel.json
.electron

# php
composer.json
composer.lock
vendor

# ruby
.gem
.rvm

# lua
.luarocks

# go
go

# my personal directories
code
papes
txt
Downloads
dotfiles
tunes
lib
Desktop
.obsidian

# gaming
.steam
.steampath
.steampid
.eve
.wine 
.nvidia-settings-rc
.var

# work
.zoom
.vscode-oss
.mozilla

