:root {
 --accent-main:#6f95fc;
  --accent-sub: #83d9f7;


}
window {
  display: block;
  
  border: none;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom right, #83d9f7, #6f95fc);
  border-radius: 10px;
}
#outer-box {
  margin: 3px;
  border-width: 2px;
  border-style: solid;
  background-color: #191919;
  border-radius: 6px;

}
#input {
  margin: 20px;
  background-color: #3f3f3f;
  color: #fef3e9;
  border: 0;
}

#inner-box {
  margin: 10px;
  background-color: #3f3f3f;
  color: #ffffff;
}

#scroll {
  margin: 0 20px 20px;
  border-radius: 5px;
  background-color: #3f3f3f;
}

#entry:selected {
  background-color: #6f95fc;
}
