[Desktop Entry]
Version=1.0
Type=Application
Name=Werk (Tiled)
Comment=Connect to work via RDP in tiled mode
Exec=fish -c "werk"
Icon=preferences-system-network
Terminal=false
Categories=Network;RemoteAccess;
Keywords=rdp;remote;work;

Actions=fullscreen;small;

[Desktop Action fullscreen]
Name=Werk (Fullscreen)
Exec=fish -c "werk -l"

[Desktop Action small]
Name=Werk (Small)
Exec=fish -c "werk -s"
